.container{
    margin-left: 15%;
    margin-top: 5%;
     
}
.shadow{
    width: 30%;
    margin-left: 25%;
   
}
.googleLogin{
   margin-left: 20%;
   padding-left: 10%;
}
h1{
    
    padding-top: 5%;
    text-align: center;
}